body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*styling the nav bar*/
.navbar-nav a{
    color: black!important;
    font-weight: bold;
}

.navbar-nav a:hover {
    display: inline-block;
    border-bottom: 3px solid #F27909;
}
.CTA{
    border: 3px solid #7451EB;
    color: #7451EB;
    font-weight: bolder;
    background-color: transparent;
}

.CTA:hover{
    background-color: rgba(rgb(188, 14, 14), rgb(42, 148, 42), rgb(231, 231, 239), 0.4);
    border: 3px solid #000000;
}

@media (max-width: 1000px) {
    #navbarToggler { /* reducing the padding in the humburger menu*/
     padding: 12px;
    }
    .navbar{
        padding: 12px 0px!important;
    }
  }
  /* styling the introduction section */

.intoduction {
    background-color: rgba(253, 213, 213, 0.5);
    height: 100vh;
    max-height: 800px;
    overflow: hidden;
  }
  .intoduction img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
   
  }


.secTitle {   /* styling the title of all sections */
        display: inline-block;
        border-bottom: 3px solid #F27909;
        line-height: 1.2;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
      }

 /* styling about us section */
.setBackground{
    background-color: #FFE7CB;
    padding: 8px 0px;
    height: fit-content;
}

.bgImg{ /* the img of the color "#FFA4A4" */
    background-color: #FFA4A4;
    width: 321px;
    height: 300px;
}
.about_us_img{
    width: 301px;
    margin: 0;
    transform: translate(40%, -60%);
    -webkit-transform: translate(40%, -60%);
    -moz-transform: translate(40%, -60%);
    -ms-transform: translate(40%, -60%);
    -o-transform: translate(40%, -60%);
}
#title{
    text-align: center;
    color: #6179E6;
}

footer{
    background-color: black;
    color: white;
    padding: 12px 0px;
}
@media screen and (max-width: 800px) {

    /*make the introduction picture hide in smaller screens*/
    .intoduction img{
        display: none;
    }
    .intoduction button{
        display: block;
        margin: 22px 0px;
    }

    /* styling the menu in why chose moroco in sreens less than 800px */
    .responsive-WM {  
        flex-direction: row!important;
        margin: 12px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .responsive-WM img {
        width: 100px;
        height: 82px;
        margin: 10px;
    }
    .reason-to-chose-Morroco-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    .imgContainer{
        max-width: 50%;
        padding: 0;
        margin-bottom: 0;
     
    }

    /* I reduced the animation in the smaller screnns */
    .about_us_img{
        transform: translate(40%, -80%);
        -webkit-transform: translate(40%, -80%);
        -moz-transform: translate(40%, -80%);
        -ms-transform: translate(40%, -80%);
        -o-transform: translate(40%, -80%);
}
.setBackground{
    margin: 0;
    padding: 0;
}
.WM-icons{
    width: 80px!important;
}
.reason{
    padding: 0px;
    margin: 0px;
    border-left: 0.3rem solid #6179E6;
    border-top-left-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
}
}


@media screen and (max-width: 425px){
    .about_us_img{
        margin: 12px  auto;
        display: block;
        border-radius: 22%;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-border-radius: 22%;
        -moz-border-radius: 22%;
        -ms-border-radius: 22%;
        -o-border-radius: 22%;
}
        .bgImg{
            display: none;
        }
        .imgContainer{
            display: inline-block;
        }

        .reason-to-chose-Morroco-image{
            width: 70%;
            height: 100%;
        }
}

/* styling why morrocco section */
.WM-icons{
    width: 80px;
    height: 82px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.reason{
    display: inline-block;
    border-left: 0.5rem solid #6179E6;
    border-top-left-radius: 90px 100px;
    border-bottom-left-radius: 90px 100px;
    padding: 8px 10px;
    margin: 12px 0px;
    cursor: pointer;
}

#text{
    text-align: justify;
}

/* create the animation on scrolling */
.hidden{
    opacity: 0;
    fill: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

/* our services animation delay's */
.animation-delay:nth-child(2){
    transition-delay: 200ms;

}
.animation-delay:nth-child(3){
    transition-delay: 400ms;
    
}
.animation-delay:nth-child(4){
    transition-delay: 600ms;
    
}

/* about us animation delay */

.animation-delay:nth-child(6){
    transition-delay: 200ms;
    
}

.animation-delay:nth-child(7){
    transition-delay: 400ms;
    
}

/* why morocco animations delay's */
.animation-delay:nth-child(9){
    transition-delay: 20ms;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}

.animation-delay:nth-child(10){
    transition-delay: 50ms;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}

.animation-delay:nth-child(11){
    transition-delay: 80ms;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
    
}

.animation-delay:nth-child(12){
    transition-delay: 100ms;
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}

.animation-delay:nth-child(13){
    transition-delay: 600ms;
    
}

.animation-delay:nth-child(14){
    transition-delay: 800ms;
    
}

/* social networks animations delay's */

.animation-delay:nth-child(16){
    transition-delay: 200ms;
    
}

.animation-delay:nth-child(17){
    transition-delay: 400ms;
    
}

.animation-delay:nth-child(18){
    transition-delay: 600ms;
    
}

.animation-delay:nth-child(19){
    transition-delay: 800ms;
    
}

.animation-delay:nth-child(20){
    transition-delay: 1000ms;
    
}

.animation-delay:nth-child(){
    transition-delay: ms;
    
}

.animation-delay:nth-child(){
    transition-delay: ms;
    
}


.whatsap-shadow{
    border-radius: 50%;
    box-shadow: 12px 10px 14px rgb(29, 3, 3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* styling whatssap */

.whatsapp-container {
    position: fixed;
    bottom: 10px;
    right: 20px;
  }
  .whatsapp-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 12px;
}
  .message-box {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: none;

}
.whatsapp-rounded{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
  .message-box img{
    display: block;
    width: 100%;
    height: 86%;
  }
  .close-icon {
    position: absolute;
    top: 15px;
    right:20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
  .chat-btn {
    display: block;
    cursor: pointer;
    width: 100%;

  }