html,body{
    padding: 0;
    margin: 0;
    /*overflow-x: hidden;*/
    background-color: #D9D9D9;
    height: 100%;
}
.Dashboard_icons{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}



/* styling the ddashboard navBar */
.dashboard_navBar img{
    display: block;
    margin: 0 auto;
}

.dashboard_navBar {
    background-color: #F9F7F7;
    min-height: 100vh;
    max-height: 1000px;
}
.navbar-nav > li{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.navbar-nav > li:hover{
    color: #0E31E9;
    font-weight: 2rem;
}

/* creating a card */
.card{
    background-color: white;
    max-height: 300px;
    overflow: auto;
}

.pending , .seen{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: white;
    padding: 8px 10px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.pending{
    background-color: rgb(230, 156, 18)!important;
}
.seen{
    background-color: #518ADF!important;
}

.card img{
    display: block;
    margin-bottom: -12px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

.Dashboard_desc{
    font-size: 0.9rem;
    height: 100%;
}

.statistics{
    height: 100px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}